<%= form_with model: team do |form| %>
<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.select(:team_group, options_for_select(@team_groups.map { |group| [group.name, group.id] }, selected: @team.team_group), prompt: "Please Select") %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>