<div id="teams" class="container">
  <h1>Teams</h1>

  <%= button_to "Add Team", new_team_path, :class => "btn btn-primary", :method => :get %>

  <div id="teams-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Team Name</th>
          <th scope="col">Team Key</th>
          <th scope="col">Color Code</th>
          <th scope="col">Group</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td><%= link_to render(:partial => 'svg/pencilsquare'), edit_team_path(team) %></td>
          <td><%= team.name %></td>
          <td><%= team.value%></td>
          <td title="<%= team.color_code%>" style="background-color: <%= team.color_code%>"></td>
          <td><%= team.team_group.name%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>