<div class="container">
    <h1><%= @team.name %></h1>

    <div>
        <%= link_to "Back", teams_path %>
        <%= link_to "Edit", edit_team_path(@team) %>

        <%= render "form", team: @team, path: team_path %>
        <%= button_to "Delete", @team, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
    </div>
</div>