<%= form_with model: initiative do |form| %>

<div class="row g-2">
  <div class="col-md">
    <div class="form-floating mb-3">
      <%= form.text_field :name, class: "form-control", required: true %>
      <%= form.label :name, class: "form-label" %>
    </div>
  </div>
</div>

<div>
  <% case action %>
  <% when :new %>
  <%= form.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", initiatives_path, class: "btn btn-danger" %>
  <% when :edit %>
  <%= form.submit "Update", class: "btn btn-primary" %>
  <%= link_to "Back", initiatives_path, class: "btn btn-secondary" %>
  <%= link_to "Delete", @initiative, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
</div>
<% end %>